<form method="POST" action="/new">
  <label for="message">Message:</label>
  <input type="text" name="message" required />

  <label for="user">User: </label>
  <input type="text" name="user" required />
  <button type="submit">click</button>
</form>