<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>app</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      h1 {
        color: #333;
      }
      a {
        color: #0066cc;
        text-decoration: none;
        margin-top: 20px;
        display: inline-block;
      }
      a:hover {
        text-decoration: underline;
      }
      form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        width: 100%;
        text-align: center;
      }
      label {
        display: block;
        margin-bottom: 10px;
        color: #333;
        text-align: left;
      }
      input[type="text"],
      input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      button {
        background-color: #0066cc;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #005bb5;
      }
      p {
        color: #333;
        margin-top: 20px;
      }
      div {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <% if (user) { %>
    <div>
      <h1>WELCOME BACK <%= user.username %></h1>
      <a href="/log-out"><button>LOG OUT</button></a>
    </div>
    <% } else { %>
    <div>
      <h1>please log in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input placeholder="password" name="password" type="password" />
        <button>Log In</button>
      </form>
      <p>dont have an account? <a href="/sign-up">sign up in here</a></p>
    </div>
    <% } %>
  </body>
</html>
